In [ ]:
pip install -U finance_datareader

Collecting finance_datareader
  Downloading https://files.pythonhosted.org/packages/ed/10/1f819839aae5d08e6cc7b29425d278c10104a18e0155282aa2ce552e3fa2/finance_datareader-0.9.10-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (2.23.0)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (4.41.1)
Collecting requests-file
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: lxml in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (4.2.6)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (1.1.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (2020.11.8)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from requests-file->finance_datareader) (1.15.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance_datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance_datareader) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance_datareader) (1.18.5)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.10 requests-file-1.5.1

In [ ]:
pip install xmltodict

Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Installing collected packages: xmltodict
Successfully installed xmltodict-0.12.0

In [ ]:
import pandas as pd
import FinanceDataReader as fdr
from time import time
from concurrent.futures import ProcessPoolExecutor

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')
#from google.colab import files
#myfile = files.upload()

In [ ]:
#filename = 'data.csv'
#new_stock_code = pd.read_csv(filename)
#new_stock_code.head()

In [ ]:
df_ksp = fdr.StockListing('KOSPI')
df_ksp.head()

   Symbol Market  ...                       HomePage Region
1  095570  KOSPI  ...         http://www.ajnet.co.kr  서울특별시
2  006840  KOSPI  ...  http://www.aekyunggroup.co.kr  서울특별시
6  027410  KOSPI  ...           http://www.bgf.co.kr  서울특별시
7  282330  KOSPI  ...       http://www.bgfretail.com  서울특별시
8  138930  KOSPI  ...           http://www.bnkfg.com  부산광역시

[5 rows x 10 columns]

In [ ]:
stock_code = df_ksp[['Symbol','Name']]
#stock_code.to_excel('code.xlsx')

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import xmltodict
import json

In [ ]:
def get_daily_stock_price(stockCode,name,count):
  global df
  if (len(stockCode) == 6 ) :
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'}
    url=f'https://fchart.stock.naver.com/sise.nhn?symbol={stockCode}&timeframe=day&count={count}&requestType=0'
    #print(url)
    rs = requests.get(url,headers = headers)
    dt = xmltodict.parse(rs.text) # 변환된 xml 파일을 dictionary 형태로 변환
    js = json.dumps(dt,indent=4)  # data 가공 편의를 위해서 json 형식으로 변환
    js = json.loads(js)
    data = pd.json_normalize(js['protocol']['chartdata']['item']) ## json_normalize를 이용해서 계층 구조를 없애고 dataframe으로 불러옴 
    df = data['@data'].str.split('|',expand=True) ## data 행에서 '|'기호 기준으로 split 한후 다시 결합... 그리고 data type 이 string 이어야 split 할 수 있으므로 str.split사용
    df.columns = ['data','open','high','low','close','Volume']
    df['name'] = str(name)  ## NAME 행을 만들어 기업명 추가
  return df

URL 호출 시 아래 와 같이 xml 형식으로 결과값을 받음...
<protocol>
<chartdata symbol="095570" name="AJ네트웍스" count="2" timeframe="day" precision="0" origintime="20150821">
<item data="20201204|4495|4575|4495|4550|222605"/>
<item data="20201207|4510|4550|4455|4465|150506"/>
</chartdata>
</protocol>


json 변환
{'protocol': {'chartdata': {'@count': '2',
   '@name': '삼성전자',
   '@origintime': '19900103',
   '@precision': '0',
   '@symbol': '005930',
   '@timeframe': 'day',
   'item': [{'@data': '20201207|72400|73500|71900|72900|28490496'},
    {'@data': '20201208|72200|72900|71600|71700|24836319'}]}}}


data['@data']
0    20201207|72400|73500|71900|72900|28490496
1    20201208|72200|72900|71600|71700|24836319
Name: @data, dtype: object

In [ ]:
tmp=[]

for index,row in stock_code.iterrows():
  tmp.append(get_daily_stock_price(row['Symbol'],row['Name'],'2500'))
  #tmp.append(get_daily_stock_price(row['종목코드'],row['기업명'],'2'))
  #print(tmp)
  #tmp.append(get_daily_stock_price(row['종목코드']))

In [ ]:
df_final = pd.concat(tmp,ignore_index=True)

In [ ]:
df_final.head()

             data  open  high   low close   Volume    name
0        20150821  6180  7300  5600  7100  1994022  AJ네트웍스
1        20150824  6700  6940  6240  6480   392831  AJ네트웍스
2        20150825  6610  6730  6189  6220   242730  AJ네트웍스
3        20150826  6260  7760  6260  7090   703721  AJ네트웍스
4        20150827  7239  8060  6960  7570   499913  AJ네트웍스
...           ...   ...   ...   ...   ...      ...     ...
2236123  20201201     0     0     0   258        0    흥아해운
2236124  20201202     0     0     0   258        0    흥아해운
2236125  20201203     0     0     0   258        0    흥아해운
2236126  20201204     0     0     0   258        0    흥아해운
2236127  20201207     0     0     0   258        0    흥아해운

[2236128 rows x 7 columns]

In [ ]:

df_final.to_csv('NEW_KOSPI_10_years_data.csv',encoding='euc-kr')