In [1]:
pip install -U finance_datareader

Collecting finance_datareader
  Downloading https://files.pythonhosted.org/packages/ed/10/1f819839aae5d08e6cc7b29425d278c10104a18e0155282aa2ce552e3fa2/finance_datareader-0.9.10-py3-none-any.whl
Requirement already satisfied, skipping upgrade: requests>=2.3.0 in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (2.23.0)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (4.41.1)
Collecting requests-file
  Downloading https://files.pythonhosted.org/packages/77/86/cdb5e8eaed90796aa83a6d9f75cfbd37af553c47a291cd47bc410ef9bdb2/requests_file-1.5.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: lxml in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (4.2.6)
Requirement already satisfied, skipping upgrade: pandas>=0.19.2 in /usr/local/lib/python3.6/dist-packages (from finance_datareader) (1.1.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (2.10)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.3.0->finance_datareader) (2020.11.8)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from requests-file->finance_datareader) (1.15.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance_datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance_datareader) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.2->finance_datareader) (1.18.5)
Installing collected packages: requests-file, finance-datareader
Successfully installed finance-datareader-0.9.10 requests-file-1.5.1

In [2]:
pip install xmltodict

Collecting xmltodict
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Installing collected packages: xmltodict
Successfully installed xmltodict-0.12.0

In [3]:
import pandas as pd
import FinanceDataReader as fdr
from time import time
from concurrent.futures import ProcessPoolExecutor

In [4]:
#from google.colab import drive
#drive.mount('/content/drive')
#from google.colab import files
#myfile = files.upload()

In [5]:
#filename = 'data.csv'
#new_stock_code = pd.read_csv(filename)
#new_stock_code.head()

In [6]:
df_ksp = fdr.StockListing('KOSPI')
df_ksp.head()

   Symbol Market  ...                       HomePage Region
1  095570  KOSPI  ...         http://www.ajnet.co.kr  서울특별시
2  006840  KOSPI  ...  http://www.aekyunggroup.co.kr  서울특별시
6  027410  KOSPI  ...           http://www.bgf.co.kr  서울특별시
7  282330  KOSPI  ...       http://www.bgfretail.com  서울특별시
8  138930  KOSPI  ...           http://www.bnkfg.com  부산광역시

[5 rows x 10 columns]

In [7]:
stock_code = df_ksp[['Symbol','Name']]
#stock_code.to_excel('code.xlsx')

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import xmltodict
import json

In [15]:
def get_daily_stock_price(stockCode,name,count):
  global df
  if (len(stockCode) == 6 ) :
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.132 Safari/537.36'}
    url=f'https://fchart.stock.naver.com/sise.nhn?symbol={stockCode}&timeframe=day&count={count}&requestType=0'
    #print(url)
    rs = requests.get(url,headers = headers)
    dt = xmltodict.parse(rs.text)
    js = json.dumps(dt,indent=4)
    js = json.loads(js)
    data = pd.json_normalize(js['protocol']['chartdata']['item'])
    df = data['@data'].str.split('|',expand=True)
    df.columns = ['data','open','high','low','close','Volume']
    df['name'] = str(name)  ## NAME 행을 만들어 기업명 추가
  return df

In [16]:
tmp=[]

for index,row in stock_code.iterrows():
  tmp.append(get_daily_stock_price(row['Symbol'],row['Name'],'2500'))
  #tmp.append(get_daily_stock_price(row['종목코드'],row['기업명'],'2'))
  #print(tmp)
  #tmp.append(get_daily_stock_price(row['종목코드']))

In [18]:
tmp

[          data  open  high   low close   Volume    name
 0     20150821  6180  7300  5600  7100  1994022  AJ네트웍스
 1     20150824  6700  6940  6240  6480   392831  AJ네트웍스
 2     20150825  6610  6730  6189  6220   242730  AJ네트웍스
 3     20150826  6260  7760  6260  7090   703721  AJ네트웍스
 4     20150827  7239  8060  6960  7570   499913  AJ네트웍스
 ...        ...   ...   ...   ...   ...      ...     ...
 1296  20201201  4560  4560  4445  4460   208335  AJ네트웍스
 1297  20201202  4460  4505  4350  4365   243752  AJ네트웍스
 1298  20201203  4450  4535  4355  4480   198469  AJ네트웍스
 1299  20201204  4495  4575  4495  4550   222605  AJ네트웍스
 1300  20201207  4510  4550  4455  4455   155605  AJ네트웍스

 [1301 rows x 7 columns],
           data   open   high    low  close  Volume   name
 0     20101019  21005  22038  20787  21632   25949  AK홀딩스
 1     20101020  21631  22289  21100  21507   26497  AK홀딩스
 2     20101021  21569  21913  21224  21226   23380  AK홀딩스
 3     20101022  21287  22477  21225  22478   49003  AK홀딩스
 4     20101025  22164  23666  22133  22759   32551  AK홀딩스
 ...        ...    ...    ...    ...    ...     ...    ...
 2495  20201201  21050  22250  20950  21900   95026  AK홀딩스
 2496  20201202  21750  22950  21700  22800  170977  AK홀딩스
 2497  20201203  23100  27850  23050  25950  931313  AK홀딩스
 2498  20201204  25950  26950  25750  26400  301950  AK홀딩스
 2499  20201207  25750  27000  25000  26550  196137  AK홀딩스

 [2500 rows x 7 columns],
           data   open   high    low  close   Volume name
 0     20140519  14690  15000  13325  14227  3260633  BGF
 1     20140520  14123  15051  13737  14871   994959  BGF
 2     20140521  14922  15025  14304  14382   394793  BGF
 3     20140522  14381  14613  14304  14459   242042  BGF
 4     20140523  14536  15283  14304  15026   371638  BGF
 ...        ...    ...    ...    ...    ...      ...  ...
 1607  20201201   4640   4705   4595   4635   178849  BGF
 1608  20201202   4650   4695   4555   4590   181165  BGF
 1609  20201203   4590   4630   4460   4465   333339  BGF
 1610  20201204   4465   4510   4325   4420   365703  BGF
 1611  20201207   4365   4400   4305   4325   170131  BGF

 [1612 rows x 7 columns],
          data    open    high     low   close  Volume    name
 0    20171208  149500  194000  149500  194000   68343  BGF리테일
 1    20171211  222000  249000  214000  248500  684631  BGF리테일
 2    20171212  242500  246500  222500  235000  286513  BGF리테일
 3    20171213  235000  242500  228000  235000   94609  BGF리테일
 4    20171214  236000  236500  221500  234000  118532  BGF리테일
 ..        ...     ...     ...     ...     ...     ...     ...
 731  20201201  126500  126500  125000  126000   24477  BGF리테일
 732  20201202  125500  130000  125000  129000   38959  BGF리테일
 733  20201203  127000  129500  127000  128500   28453  BGF리테일
 734  20201204  127500  129500  126500  128000   38522  BGF리테일
 735  20201207  127000  127000  124500  125000   21827  BGF리테일

 [736 rows x 7 columns],
           data   open   high    low  close   Volume     name
 0     20110330  14073  14725  13886  14633  2486239  BNK금융지주
 1     20110331  14818  14866  14632  14820  1360158  BNK금융지주
 2     20110401  14725  15332  14632  15193  2395651  BNK금융지주
 3     20110404  15098  15285  14959  15193  1521104  BNK금융지주
 4     20110405  15005  15145  14866  14959  1096267  BNK금융지주
 ...        ...    ...    ...    ...    ...      ...      ...
 2384  20201201   5690   5750   5660   5720  4614160  BNK금융지주
 2385  20201202   5760   6040   5750   5970  4963645  BNK금융지주
 2386  20201203   6020   6040   5900   5920  3293402  BNK금융지주
 2387  20201204   5920   6010   5870   5890  2456407  BNK금융지주
 2388  20201207   5910   5910   5770   5800  1816281  BNK금융지주

 [2389 rows x 7 columns],
           data    open    high     low   close Volume name
 0     20101019  151000  151500  148000  149500    521  BYC
 1     20101020  146500  152000  146500  152000    173  BYC
 2     20101021  155500  159500  153000  153000    548  BYC
 3     20101022  159500  161000  154500  158000    323  BYC
 4     20101025  159500  160000  143000  160000    422  BYC
 ...        ...     ...     ...     ...     ...    ...  ...
 2495  20201201  293500  298000  288000  294500   1405  BYC
 2496  20201202  294500  295500  293000  295500    557  BYC
 2497  20201203  295000  295500  288000  289500   1137  BYC
 2498  20201204  290500  290500  287000  287000    790  BYC
 2499  20201207  287000  287000  281500  281500    298  BYC

 [2500 rows x 7 columns],
           data    open    high     low   close Volume  name
 0     20101019   69900   71700   69900   70900    465  BYC우
 1     20101020   70800   70800   68500   70000     38  BYC우
 2     20101021   69900   70400   68100   70100    255  BYC우
 3     20101022   70400   70700   70000   70200    156  BYC우
 4     20101025   70500   71100   70200   70700    223  BYC우
 ...        ...     ...     ...     ...     ...    ...   ...
 2495  20201201  140000  140500  139000  140000    273  BYC우
 2496  20201202  137500  142000  137500  142000    368  BYC우
 2497  20201203  140000  142000  138000  141500    185  BYC우
 2498  20201204  139500  141500  139000  141500    259  BYC우
 2499  20201207  141000  141000  136500  136500    147  BYC우

 [2500 rows x 7 columns],
           data   open   high    low  close  Volume name
 0     20101019  77888  78077  76663  77135  135777   CJ
 1     20101020  76851  76851  75531  76569  112594   CJ
 2     20101021  76851  76946  75625  75720  138605   CJ
 3     20101022  75720  77040  74494  74871  286068   CJ
 4     20101025  75342  76380  74777  75343  205571   CJ
 ...        ...    ...    ...    ...    ...     ...  ...
 2495  20201201  79900  79900  79100  79600   71806   CJ
 2496  20201202  79700  80600  79300  80600   97182   CJ
 2497  20201203  80300  80400  79600  80300   82651   CJ
 2498  20201204  80500  80800  79300  79600  106688   CJ
 2499  20201207  79200  79300  78200  78300   87788   CJ

 [2500 rows x 7 columns],
           data   open   high    low  close   Volume    name
 0     20101019  25851  25942  25488  25580   255321  CJ CGV
 1     20101020  25443  25806  25307  25398   243683  CJ CGV
 2     20101021  26123  26849  25987  26487   222256  CJ CGV
 3     20101022  26396  26668  25398  25852   153579  CJ CGV
 4     20101025  26123  26123  25262  25670   197740  CJ CGV
 ...        ...    ...    ...    ...    ...      ...     ...
 2495  20201201  22900  23200  22700  22950   381589  CJ CGV
 2496  20201202  23150  24650  23000  24550  1922965  CJ CGV
 2497  20201203  25250  25550  24300  24500  1358331  CJ CGV
 2498  20201204  23500  24300  23100  23400  1512876  CJ CGV
 2499  20201207  22700  23200  22200  23050   601933  CJ CGV

 [2500 rows x 7 columns],
          data   open   high    low  close  Volume      name
 0    20190809  60500  68900  53900  54600  324642  CJ4우(전환)
 1    20190812  54400  56200  53000  53600  166709  CJ4우(전환)
 2    20190813  52600  53200  51400  51800  163852  CJ4우(전환)
 3    20190814  52400  52900  51900  51900   95402  CJ4우(전환)
 4    20190816  51200  51800  50000  51100   63207  CJ4우(전환)
 ..        ...    ...    ...    ...    ...     ...       ...
 323  20201201  60600  61400  60400  61200   22309  CJ4우(전환)
 324  20201202  61300  61600  60800  61600   12442  CJ4우(전환)
 325  20201203  61600  61600  60800  61400   12392  CJ4우(전환)
 326  20201204  61300  61700  60500  60700   24443  CJ4우(전환)
 327  20201207  60600  60600  59400  59800   18699  CJ4우(전환)

 [328 rows x 7 columns],
           data    open    high     low   close Volume    name
 0     20101019   68500   68900   67600   67900  17706  CJ대한통운
 1     20101020   67900   68600   66200   68300  26838  CJ대한통운
 2     20101021   68700   68800   67500   68300  30657  CJ대한통운
 3     20101022   68000   72300   68000   71700  92314  CJ대한통운
 4     20101025   72000   72600   71100   72600  39335  CJ대한통운
 ...        ...     ...     ...     ...     ...    ...     ...
 2495  20201201  166000  166000  164000  164500  49589  CJ대한통운
 2496  20201202  164500  164500  161500  162000  96844  CJ대한통운
 2497  20201203  161500  162500  160500  162500  74693  CJ대한통운
 2498  20201204  162500  163000  160500  161500  64608  CJ대한통운
 2499  20201207  159500  160000  157500  159000  70319  CJ대한통운

 [2500 rows x 7 columns],
           data  open  high   low close    Volume   name
 0     20101019  2770  2810  2680  2700    643762  CJ씨푸드
 1     20101020  2685  2740  2650  2730    310771  CJ씨푸드
 2     20101021  2750  2760  2680  2700    258202  CJ씨푸드
 3     20101022  2725  2750  2540  2610    601414  CJ씨푸드
 4     20101025  2610  2610  2555  2590    315512  CJ씨푸드
 ...        ...   ...   ...   ...   ...       ...    ...
 2495  20201201  5320  5420  5220  5250   2304291  CJ씨푸드
 2496  20201202  5290  5340  5250  5260   1349721  CJ씨푸드
 2497  20201203  5260  5270  5120  5160   1069788  CJ씨푸드
 2498  20201204  5180  5460  5050  5400   5567732  CJ씨푸드
 2499  20201207  5460  5980  5300  5570  22666018  CJ씨푸드

 [2500 rows x 7 columns],
           data   open   high    low  close Volume     name
 0     20101019  14350  14800  14300  14600   5240  CJ씨푸드1우
 1     20101020  14200  15000  14200  14700   4560  CJ씨푸드1우
 2     20101021  14400  15200  14000  14300   5840  CJ씨푸드1우
 3     20101022  14500  14500  13650  14000   6600  CJ씨푸드1우
 4     20101025  14050  14500  14000  14050   3420  CJ씨푸드1우
 ...        ...    ...    ...    ...    ...    ...      ...
 2495  20201201  45300  45700  45300  45600   1201  CJ씨푸드1우
 2496  20201202  45800  45900  45400  45900   1820  CJ씨푸드1우
 2497  20201203  45400  45700  45150  45700   1317  CJ씨푸드1우
 2498  20201204  45700  45700  44750  45650   2955  CJ씨푸드1우
 2499  20201207  45700  45800  45000  45000   6218  CJ씨푸드1우

 [2500 rows x 7 columns],
           data   open   high    low  close Volume name
 0     20101019  24458  24458  23928  24370   7686  CJ우
 1     20101020  23972  24326  23884  24149   1432  CJ우
 2     20101021  24193  24458  23928  24105   1467  CJ우
 3     20101022  24149  24370  24105  24194   2221  CJ우
 4     20101025  24237  24414  24193  24370   2670  CJ우
 ...        ...    ...    ...    ...    ...    ...  ...
 2495  20201201  50500  50700  50000  50500   3978  CJ우
 2496  20201202  50500  51000  50000  50800   4954  CJ우
 2497  20201203  50900  51100  50300  50700   3129  CJ우
 2498  20201204  50700  51200  50300  50700   2302  CJ우
 2499  20201207  51500  51500  49900  50000   3075  CJ우

 [2500 rows x 7 columns],
           data    open    high     low   close  Volume    name
 0     20101019  226000  226500  224000  225000   74659  CJ제일제당
 1     20101020  223000  224000  218500  221500  123968  CJ제일제당
 2     20101021  222000  223500  219000  222500   66550  CJ제일제당
 3     20101022  221500  229000  221500  228500   73729  CJ제일제당
 4     20101025  228500  229000  224000  228000   49052  CJ제일제당
 ...        ...     ...     ...     ...     ...     ...     ...
 2495  20201201  365000  365000  361000  362500   46676  CJ제일제당
 2496  20201202  362500  363000  358000  359500   89069  CJ제일제당
 2497  20201203  359500  360500  357000  360500   68193  CJ제일제당
 2498  20201204  360500  360500  355500  357000   99302  CJ제일제당
 2499  20201207  357000  364000  352000  362000   69009  CJ제일제당

 [2500 rows x 7 columns],
           data    open    high     low   close Volume      name
 0     20101019   72300   72700   72200   72300   2062  CJ제일제당 우
 1     20101020   71300   72200   70700   72000   2273  CJ제일제당 우
 2     20101021   71800   72000   71200   71200   1532  CJ제일제당 우
 3     20101022   71300   72800   71300   71700   2166  CJ제일제당 우
 4     20101025   72600   73500   71800   71900  10261  CJ제일제당 우
 ...        ...     ...     ...     ...     ...    ...       ...
 2495  20201201  162000  162500  160500  161500   5349  CJ제일제당 우
 2496  20201202  161500  162500  160000  161000   7518  CJ제일제당 우
 2497  20201203  161500  161500  159000  161500   4868  CJ제일제당 우
 2498  20201204  162500  162500  160500  161000   8282  CJ제일제당 우
 2499  20201207  162500  162500  159500  161000   7036  CJ제일제당 우

 [2500 rows x 7 columns],
           data   open   high    low  close Volume   name
 0     20101019  78100  78100  76800  78000   2178  CS홀딩스
 1     20101020  77200  80000  77200  77900    822  CS홀딩스
 2     20101021  78000  79500  77200  78400    953  CS홀딩스
 3     20101022  77500  78300  77100  77700    680  CS홀딩스
 4     20101025  78000  78800  76600  77000   1079  CS홀딩스
 ...        ...    ...    ...    ...    ...    ...    ...
 2495  20201201  55900  56600  55300  56500   1611  CS홀딩스
 2496  20201202  56600  56600  55900  56200   1552  CS홀딩스
 2497  20201203  56400  57000  55700  56300   2427  CS홀딩스
 2498  20201204  56500  57500  56100  56500   3102  CS홀딩스
 2499  20201207  57000  57400  56400  56500   1617  CS홀딩스

 [2500 rows x 7 columns],
           data  open  high   low close  Volume name
 0     20101019  2372  2396  2324  2373   18420   DB
 1     20101020  2313  2436  2309  2420   10590   DB
 2     20101021  2428  2444  2380  2420   10407   DB
 3     20101022  2436  2519  2404  2504   27406   DB
 4     20101025  2575  2575  2452  2500    7597   DB
 ...        ...   ...   ...   ...   ...     ...  ...
 2495  20201201   735   740   718   723  915149   DB
 2496  20201202   723   737   722   728  751368   DB
 2497  20201203   730   734   714   720  909019   DB
 2498  20201204   721   725   713   717  850449   DB
 2499  20201207   717   719   710   718  570701   DB

 [2500 rows x 7 columns],
           data  open  high   low close  Volume    name
 0     20101019  7640  7660  7350  7350  238065  DB금융투자
 1     20101020  7200  7430  7140  7380  225505  DB금융투자
 2     20101021  7460  7490  7270  7390  180841  DB금융투자
 3     20101022  7400  7450  7240  7390  168726  DB금융투자
 4     20101025  7360  7650  7330  7650  228434  DB금융투자
 ...        ...   ...   ...   ...   ...     ...     ...
 2495  20201201  4640  4740  4625  4730  166181  DB금융투자
 2496  20201202  4760  4775  4660  4750  149006  DB금융투자
 2497  20201203  4770  4775  4710  4725  115373  DB금융투자
 2498  20201204  4710  4840  4700  4755  214156  DB금융투자
 2499  20201207  4795  4795  4690  4725  108265  DB금융투자

 [2500 rows x 7 columns],
           data   open   high    low  close  Volume    name
 0     20101019  35650  36300  35200  35200  271657  DB손해보험
 1     20101020  35850  37450  35800  37150  626095  DB손해보험
 2     20101021  37300  37800  36750  37550  384304  DB손해보험
 3     20101022  37800  37900  36800  37650  206909  DB손해보험
 4     20101025  37500  39100  37500  39000  352916  DB손해보험
 ...        ...    ...    ...    ...    ...     ...     ...
 2495  20201201  44450  44650  44000  44150  205166  DB손해보험
 2496  20201202  44250  44850  44150  44850  238499  DB손해보험
 2497  20201203  44800  44800  44250  44600  262529  DB손해보험
 2498  20201204  44450  44850  44250  44750  227125  DB손해보험
 2499  20201207  44300  44650  44200  44350  112427  DB손해보험

 [2500 rows x 7 columns],
           data   open   high    low  close   Volume   name
 0     20101019  12300  12300  11400  11650   711311  DB하이텍
 1     20101020  11500  11900  11400  11800   424983  DB하이텍
 2     20101021  11950  12050  11300  11400   408710  DB하이텍
 3     20101022  11500  12150  11450  12050   703041  DB하이텍
 4     20101025  12250  12400  11950  12250   575304  DB하이텍
 ...        ...    ...    ...    ...    ...      ...    ...
 2495  20201201  35750  36350  35600  35800   507254  DB하이텍
 2496  20201202  36000  37400  35800  36700   971850  DB하이텍
 2497  20201203  36850  36900  35750  35850   773220  DB하이텍
 2498  20201204  35950  36000  34800  34950  1112068  DB하이텍
 2499  20201207  35500  35850  35100  35400   561109  DB하이텍

 [2500 rows x 7 columns],
           data    open    high     low   close Volume     name
 0     20101019   12100   12150   11300   11700  15810  DB하이텍1우
 1     20101020   11700   13450   11700   12000  29364  DB하이텍1우
 2     20101021   12050   13450   11500   11800  21003  DB하이텍1우
 3     20101022   12200   12200   11400   11700   8994  DB하이텍1우
 4     20101025   11650   12450   11650   12200   7280  DB하이텍1우
 ...        ...     ...     ...     ...     ...    ...      ...
 2495  20201201  115000  117000  114500  116500   2254  DB하이텍1우
 2496  20201202  115500  121500  115500  117500   1833  DB하이텍1우
 2497  20201203  119000  119000  117000  118500   1358  DB하이텍1우
 2498  20201204  118500  118500  113500  115000   1720  DB하이텍1우
 2499  20201207  118000  118000  115000  116000    985  DB하이텍1우

 [2500 rows x 7 columns],
           data   open   high    low  close   Volume     name
 0     20110607  15233  16390  15040  16294  2100255  DGB금융지주
 1     20110608  16294  16583  15233  15523  1399354  DGB금융지주
 2     20110609  15570  15956  14172  14751  3374344  DGB금융지주
 3     20110610  14654  15908  14606  15523  2061255  DGB금융지주
 4     20110613  15185  15570  14896  15185   711045  DGB금융지주
 ...        ...    ...    ...    ...    ...      ...      ...
 2338  20201201   7370   7480   7340   7420   584815  DGB금융지주
 2339  20201202   7490   7560   7440   7460   599747  DGB금융지주
 2340  20201203   7470   7550   7410   7460   552813  DGB금융지주
 2341  20201204   7460   7550   7430   7440   572699  DGB금융지주
 2342  20201207   7410   7430   7310   7310   484958  DGB금융지주

 [2343 rows x 7 columns],
           data    open    high     low   close  Volume  name
 0     20101019   58727   59631   56198   56290    8669  DI동일
 1     20101020   56287   56920   55293   56922    1859  DI동일
 2     20101021   56469   57642   56198   57646    4581  DI동일
 3     20101022   58547   60986   57823   59271   11106  DI동일
 4     20101025   60263   63245   60173   62073   11670  DI동일
 ...        ...     ...     ...     ...     ...     ...   ...
 2495  20201201   86300   88100   86300   87200   11920  DI동일
 2496  20201202   87100   87500   86300   86700   10551  DI동일
 2497  20201203   87000   96300   86400   93500   75371  DI동일
 2498  20201204   94000  107000   93800  106500  124416  DI동일
 2499  20201207  111500  112000  103000  105500   41664  DI동일

 [2500 rows x 7 columns],
           data  open  high   low close  Volume   name
 0     20101019  3001  3073  2991  3038  104796  DRB동일
 1     20101020  3035  3068  3005  3035   81566  DRB동일
 2     20101021  3055  3073  2912  2970  133213  DRB동일
 3     20101022  3010  3010  2933  2961   58000  DRB동일
 4     20101025  2971  3274  2971  3225  643873  DRB동일
 ...        ...   ...   ...   ...   ...     ...    ...
 2495  20201201  6870  6910  6800  6860   26551  DRB동일
 2496  20201202  6880  6920  6740  6800   56262  DRB동일
 2497  20201203  6850  6850  6730  6810   35209  DRB동일
 2498  20201204  6800  6800  6680  6740   53023  DRB동일
 2499  20201207  6680  6820  6680  6710   19339  DRB동일

 [2500 rows x 7 columns],
           data  open  high   low close   Volume name
 0     20130515  5000  5750  4955  5750  4070986  DSR
 1     20130516  6390  6610  6020  6610  2258751  DSR
 2     20130520  6790  6990  6080  6290  7978831  DSR
 3     20130521  6280  6490  6140  6450  3005325  DSR
 4     20130522  6320  6510  5680  5800  2762279  DSR
 ...        ...   ...   ...   ...   ...      ...  ...
 1854  20201201  5570  5660  5470  5640    90326  DSR
 1855  20201202  5690  5690  5570  5630    65779  DSR
 1856  20201203  5630  5630  5450  5510    80652  DSR
 1857  20201204  5510  5590  5390  5450    75241  DSR
 1858  20201207  5680  6450  5600  5960  2447138  DSR

 [1859 rows x 7 columns],
           data  open  high   low close   Volume   name
 0     20101019  4085  4280  4085  4215   200752  DSR제강
 1     20101020  4140  4275  4140  4255   116573  DSR제강
 2     20101021  4280  4340  4190  4235    94793  DSR제강
 3     20101022  4225  4260  4120  4220    92441  DSR제강
 4     20101025  4305  4305  4165  4180    98368  DSR제강
 ...        ...   ...   ...   ...   ...      ...    ...
 2495  20201201  4605  4840  4595  4780   197034  DSR제강
 2496  20201202  4830  4830  4675  4770   115181  DSR제강
 2497  20201203  4770  4770  4675  4720    70053  DSR제강
 2498  20201204  4745  4745  4655  4660    67625  DSR제강
 2499  20201207  4680  5100  4680  4810  1257601  DSR제강

 [2500 rows x 7 columns],

In [19]:
df_final = pd.concat(tmp,ignore_index=True)

In [20]:
df_final

             data  open  high   low close   Volume    name
0        20150821  6180  7300  5600  7100  1994022  AJ네트웍스
1        20150824  6700  6940  6240  6480   392831  AJ네트웍스
2        20150825  6610  6730  6189  6220   242730  AJ네트웍스
3        20150826  6260  7760  6260  7090   703721  AJ네트웍스
4        20150827  7239  8060  6960  7570   499913  AJ네트웍스
...           ...   ...   ...   ...   ...      ...     ...
2236123  20201201     0     0     0   258        0    흥아해운
2236124  20201202     0     0     0   258        0    흥아해운
2236125  20201203     0     0     0   258        0    흥아해운
2236126  20201204     0     0     0   258        0    흥아해운
2236127  20201207     0     0     0   258        0    흥아해운

[2236128 rows x 7 columns]

In [21]:

df_final.to_csv('NEW_KOSPI_10_years_data.csv',encoding='euc-kr')