<a href="https://colab.research.google.com/github/wsno1-lim/DF-AI2team/blob/main/99.%EC%8A%A4%ED%84%B0%EB%94%94/Kaggle/%5BKaggle_1%5D_Stock_Market_(Technical_Indicators)_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주가 분석 기술 지표 구현
---
https://www.kaggle.com/tomfarm/stock-market-technical-indicators-visualization/edit  
* Huge Stock Market Dataset 을 기반으로 함
* 요약 : 주가 분석 기술 지표 여러가지를 구현해놓았다. 또한 각 지표에 대해서 시각화 할 수 있는 함수들도 구현해 놓았음! 나중에 가져다가 사용하면 됨.
* 이 사람이 작성한 다른 문서(LSTM 예측)
  - 위에서 작성한 여러 지표들로 예측하기  
https://www.kaggle.com/kratisaxena/lstm-gru-models-for-stock-movement-analysis

In [3]:
import numpy as np
import pandas as pd
import os
import random
import copy
import matplotlib.pyplot as plt

In [4]:
# 서브프로세스 실행 후 출력문자열 리턴
from subprocess import check_output

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
# Stocks 폴더 안에 있는 파일 개수
os.chdir('/content/drive/MyDrive/hsmd/')
list = os.listdir()
number_files = len(list)
print(number_files)

10

In [7]:
# 데이터 중 8개를 랜덤으로 뽑아 분석해본다
filenames = random.sample([x for x in list if x.endswith('.txt') and os.path.getsize(os.path.join('', x)) > 0], 8)
print(filenames)

['ncb.us.txt', 'abac.us.txt', 'nby.us.txt', 'aau.us.txt', 'nan.us.txt', 'naov.us.txt', 'nblx.us.txt', 'cern.us.txt']

In [8]:
# 뽑은 데이터를 데이터프레임으로 만들고, df의 리스트를 생성한다
data = []
for fn in filenames :
    df = pd.read_csv(os.path.join('', fn), sep=',')
    label, _, _ = fn.split(sep='.')
    df['Label'] = label
    df['Date'] = pd.to_datetime(df['Date'])
    data.append(df)

In [9]:
data[0].head()

        Date    Open    High     Low   Close  Volume  OpenInt Label
0 2009-04-27  10.477  10.477  10.477  10.477       0        0   ncb
1 2009-04-28  10.477  10.477  10.208  10.477  168518        0   ncb
2 2009-04-29  10.477  10.484  10.477  10.477   40489        0   ncb
3 2009-04-30  10.477  10.477  10.477  10.477   14862        0   ncb
4 2009-05-01  10.477  10.477  10.439  10.439    1277        0   ncb

## 데이터 프레임 안에 다양한 기술 지표 추가하기  
---
여기서 다룰 기술 지표들은 다음과 같습니다.
* RSI, Volume (plain), Bollinger Bands, Aroon, PVT, acceleration bands
* Stochastic, Chaikin Money Flow, Parabolic SAR, Rate of Change, Volume weighted average Price, momentum
* Commodity Channel Index, On Balance Volume, Keltner Channels, Triple Exponential Moving Average, Normalized Averager True Range, directional movement indicators
* MACD, Money flowindex, Ichimoku, William %R, Volume MINMAX, adaptive moving average  
  
아래는 기본적인 몇가지만 복사해놓았고, 나머지는 링크에서 가져다 사용하면 됨

In [10]:
TechIndicator = copy.deepcopy(data)
TechIndicator

[           Date    Open    High     Low   Close  Volume  OpenInt Label
 0    2009-04-27  10.477  10.477  10.477  10.477       0        0   ncb
 1    2009-04-28  10.477  10.477  10.208  10.477  168518        0   ncb
 2    2009-04-29  10.477  10.484  10.477  10.477   40489        0   ncb
 3    2009-04-30  10.477  10.477  10.477  10.477   14862        0   ncb
 4    2009-05-01  10.477  10.477  10.439  10.439    1277        0   ncb
 ...         ...     ...     ...     ...     ...     ...      ...   ...
 2125 2017-11-06  17.140  17.140  16.790  16.900   12289        0   ncb
 2126 2017-11-07  17.299  17.299  17.000  17.050    7388        0   ncb
 2127 2017-11-08  17.076  17.170  17.076  17.150    1212        0   ncb
 2128 2017-11-09  17.190  17.220  17.120  17.150    2596        0   ncb
 2129 2017-11-10  17.100  17.100  16.950  16.950   16812        0   ncb

 [2130 rows x 8 columns],
            Date     Open     High      Low    Close  Volume  OpenInt Label
 0    2010-07-19  24.0000  24.0000  24.0000  24.0000       0        0  abac
 1    2010-07-20  25.9600  25.9600  21.0000  21.4000   59250        0  abac
 2    2010-07-21  21.0800  21.2400  16.3200  17.0000   56675        0  abac
 3    2010-07-22  17.0000  18.3600  16.6000  16.9600   15675        0  abac
 4    2010-07-23  16.6000  17.0000  15.5200  16.0800   17550        0  abac
 ...         ...      ...      ...      ...      ...     ...      ...   ...
 1822 2017-11-06   3.2900   3.4400   3.2900   3.4000   14528        0  abac
 1823 2017-11-07   3.3941   3.4400   3.2600   3.3540   30441        0  abac
 1824 2017-11-08   3.3900   3.5815   3.3000   3.4747   15678        0  abac
 1825 2017-11-09   3.4900   3.6952   3.3900   3.5500   28925        0  abac
 1826 2017-11-10   3.6300   3.6490   3.3365   3.4800   14639        0  abac

 [1827 rows x 8 columns],
            Date     Open     High     Low    Close  Volume  OpenInt Label
 0    2007-10-25  100.000  100.000  100.00  100.000       0        0   nby
 1    2007-10-26  105.000  106.250   90.50   90.500   12776        0   nby
 2    2007-10-29   91.250   95.000   90.50   93.750    3304        0   nby
 3    2007-10-30   96.250   96.250   87.50   94.750    5852        0   nby
 4    2007-10-31   97.500   98.750   95.00   97.500    4508        0   nby
 ...         ...      ...      ...     ...      ...     ...      ...   ...
 2522 2017-11-06    4.600    4.600    4.35    4.400    5871        0   nby
 2523 2017-11-07    4.250    4.590    4.25    4.450   13487        0   nby
 2524 2017-11-08    4.500    4.500    4.40    4.400     346        0   nby
 2525 2017-11-09    4.200    4.345    4.20    4.345   11752        0   nby
 2526 2017-11-10    4.375    4.375    4.20    4.200    7480        0   nby

 [2527 rows x 8 columns],
            Date  Open    High     Low   Close  Volume  OpenInt Label
 0    2005-02-25  1.58  1.5800  1.5300  1.5800    8570        0   aau
 1    2005-02-28  1.64  1.6400  1.5400  1.6400   11000        0   aau
 2    2005-03-01  1.53  1.6100  1.5300  1.5300    5450        0   aau
 3    2005-03-02  1.53  1.5300  1.5300  1.5300    3333        0   aau
 4    2005-03-03  1.54  1.5400  1.4900  1.5400    3200        0   aau
 ...         ...   ...     ...     ...     ...     ...      ...   ...
 3172 2017-11-06  0.91  0.9701  0.8800  0.9600  490573        0   aau
 3173 2017-11-07  0.96  0.9900  0.9200  0.9595  237297        0   aau
 3174 2017-11-08  0.98  1.0100  0.9500  0.9668  250044        0   aau
 3175 2017-11-09  0.94  0.9700  0.9177  0.9455  350534        0   aau
 3176 2017-11-10  0.95  0.9555  0.9055  0.9219  196553        0   aau

 [3177 rows x 8 columns],
            Date    Open    High     Low   Close  Volume  OpenInt Label
 0    2005-02-25  10.422  10.440  10.415  10.440    5320        0   nan
 1    2005-02-28  10.440  10.515  10.404  10.451   27171        0   nan
 2    2005-03-01  10.515  10.576  10.481  10.484   19981        0   nan
 3    2005-03-02  10.515  10.515  10.448  10.492    4169        0   nan
 4    2005-03-03  10.552  10.552  10.484  10.506    8484        0   nan
 ...         ...     ...     ...     ...     ...     ...      ...   ...
 3196 2017-11-06  13.820  13.880  13.810  13.830   59709        0   nan
 3197 2017-11-07  13.830  13.900  13.820  13.900   33110        0   nan
 3198 2017-11-08  13.890  13.960  13.890  13.940   47243        0   nan
 3199 2017-11-09  13.930  13.930  13.850  13.900   32214        0   nan
 3200 2017-11-10  13.900  13.950  13.860  13.940   55375        0   nan

 [3201 rows x 8 columns],
         Date  Open   High     Low   Close  Volume  OpenInt Label
 0 2017-11-02  4.60  4.600  3.6800  4.5000   39014        0  naov
 1 2017-11-06  4.89  4.890  4.2501  4.4975   17826        0  naov
 2 2017-11-07  4.58  4.600  4.5000  4.5042   14447        0  naov
 3 2017-11-08  4.55  4.700  4.5000  4.7000    5547        0  naov
 4 2017-11-09  4.25  4.695  4.2500  4.5000    7105        0  naov
 5 2017-11-10  4.50  4.700  4.2800  4.6100   18950        0  naov,
           Date    Open    High     Low   Close   Volume  OpenInt Label
 0   2016-09-15  25.524  26.314  25.042  25.235  9859045        0  nblx
 1   2016-09-16  25.042  25.765  25.042  25.293   714972        0  nblx
 2   2016-09-19  25.534  25.707  25.081  25.428   570871        0  nblx
 3   2016-09-20  25.302  25.476  25.265  25.351   161024        0  nblx
 4   2016-09-21  25.610  25.620  25.332  25.438   208890        0  nblx
 ..         ...     ...     ...     ...     ...      ...      ...   ...
 288 2017-11-06  50.730  51.670  50.730  51.460    38147        0  nblx
 289 2017-11-07  51.860  52.300  51.830  52.000    35285        0  nblx
 290 2017-11-08  52.200  52.340  51.670  52.000    36130        0  nblx
 291 2017-11-09  51.750  51.950  51.190  51.560    40366        0  nblx
 292 2017-11-10  51.630  52.300  51.450  51.880    35384        0  nblx

 [293 rows x 8 columns],
            Date     Open     High      Low    Close   Volume  OpenInt Label
 0    2005-02-25   6.3750   6.5450   6.3650   6.5125  3816664        0  cern
 1    2005-02-28   6.4775   6.5400   6.4625   6.5125  4163088        0  cern
 2    2005-03-01   6.5225   6.6250   6.5000   6.5950  4320872        0  cern
 3    2005-03-02   6.6050   6.6825   6.5625   6.6200  3547720        0  cern
 4    2005-03-03   6.6475   6.6825   6.4375   6.5125  3183528        0  cern
 ...         ...      ...      ...      ...      ...      ...      ...   ...
 3196 2017-11-06  65.3600  65.8100  65.0600  65.7100  1359851        0  cern
 3197 2017-11-07  65.7800  66.2400  65.6700  65.9300  1404928        0  cern
 3198 2017-11-08  65.8500  66.4700  65.6000  66.2800  1331746        0  cern
 3199 2017-11-09  65.8700  66.1050  64.6900  65.4800  1491859        0  cern
 3200 2017-11-10  65.3100  65.5600  64.9300  65.3100  1327855        0  cern

 [3201 rows x 8 columns]]

* RSI 계산하기

In [11]:
# RSI (상대강도지수) : 주가의 상승압력과 하락압력간의 상대적 강도 
# RSI 가 클수록 주가의 상승추세가 크고, 작을수록 주가의 하락추세가 크다
# up/down - N일동안의 상승폭/하락폭 평균, N은 일반적으로 14일
# RSI 시그널 : N`일 이동평균선, N`는 일반적으로 6일
# RSI 70% 이상, 시그널 하향돌파(데드크로스) 시 매도 / 30% 이하, 시그널 상향돌파(골든크로스) 시 매수
def rsi(values) :
    up = values[values > 0].mean()
    down = -1 * values[values < 0].mean()
    return 100 * up / (up + down)

In [12]:
# TechIndicator 안에 있는 8개 종목에 대해 각각 RSI 구하기
for stock in range(len(TechIndicator)) :
    TechIndicator[stock]['Momentum_1D'] = (TechIndicator[stock]['Close'] - TechIndicator[stock]['Close'].shift(1)).fillna(0)
    TechIndicator[stock]['RSI_14D'] = TechIndicator[stock]['Momentum_1D'].rolling(center=False, window=14).apply(rsi).fillna(0)
TechIndicator[0].tail(5)

           Date    Open    High     Low  ...  OpenInt  Label  Momentum_1D    RSI_14D
2125 2017-11-06  17.140  17.140  16.790  ...        0    ncb        -0.10  30.583501
2126 2017-11-07  17.299  17.299  17.000  ...        0    ncb         0.15  29.447853
2127 2017-11-08  17.076  17.170  17.076  ...        0    ncb         0.10  31.137725
2128 2017-11-09  17.190  17.220  17.120  ...        0    ncb         0.00  30.434783
2129 2017-11-10  17.100  17.100  16.950  ...        0    ncb        -0.20  28.526646

[5 rows x 10 columns]

* 거래량 : 기존 거래량 칼럼에 있는 값을 사용한다

In [13]:
for stock in range(len(TechIndicator)) :
    TechIndicator[stock]['Volume_plain'] = TechIndicator[stock]['Volume'].fillna(0)
TechIndicator[0].tail()

           Date    Open    High  ...  Momentum_1D    RSI_14D  Volume_plain
2125 2017-11-06  17.140  17.140  ...        -0.10  30.583501         12289
2126 2017-11-07  17.299  17.299  ...         0.15  29.447853          7388
2127 2017-11-08  17.076  17.170  ...         0.10  31.137725          1212
2128 2017-11-09  17.190  17.220  ...         0.00  30.434783          2596
2129 2017-11-10  17.100  17.100  ...        -0.20  28.526646         16812

[5 rows x 11 columns]

* 볼린저 밴드 계산하기

In [14]:
def bbands(price, length=30, numsd=2) :
    ave = price.rolling(window=length, center=False).mean()
    sd = price.rolling(window=length, center=False).std()
    upb = ave + (sd * numsd)
    dnb = ave - (sd * numsd)
    return np.round(ave, 3), np.round(upb, 3), np.round(dnb, 3)

In [15]:
for stock in range(len(TechIndicator)) :
    TechIndicator[stock]['BB_Middle_Band'], TechIndicator[stock]['BB_Upper_Band'], TechIndicator[stock]['BB_Lower_Band'] = bbands(TechIndicator[stock]['Close'], length=20, numsd=1)
    TechIndicator[stock]['BB_Middle_Band'].fillna(0)
    TechIndicator[stock]['BB_Upper_Band'].fillna(0)
    TechIndicator[stock]['BB_Lower_Band'].fillna(0)
TechIndicator[0].tail()

           Date    Open    High  ...  BB_Middle_Band  BB_Upper_Band  BB_Lower_Band
2125 2017-11-06  17.140  17.140  ...          17.380         17.768         16.992
2126 2017-11-07  17.299  17.299  ...          17.362         17.757         16.967
2127 2017-11-08  17.076  17.170  ...          17.347         17.744         16.950
2128 2017-11-09  17.190  17.220  ...          17.318         17.705         16.930
2129 2017-11-10  17.100  17.100  ...          17.283         17.670         16.895

[5 rows x 14 columns]

* Aroon Oscillator 계산

In [16]:
def aroon(df, tf=25):
    aroonup = []
    aroondown = []
    x = tf
    while x< len(df['Date']):
        aroon_up = ((df['High'][x-tf:x].tolist().index(max(df['High'][x-tf:x])))/float(tf))*100
        aroon_down = ((df['Low'][x-tf:x].tolist().index(min(df['Low'][x-tf:x])))/float(tf))*100
        aroonup.append(aroon_up)
        aroondown.append(aroon_down)
        x+=1
    return aroonup, aroondown

In [17]:
for stock in range(len(TechIndicator)):
    listofzeros = [0] * 25
    up, down = aroon(TechIndicator[stock])
    aroon_list = [x - y for x, y in zip(up,down)]
    if len(aroon_list)==0:
        aroon_list = [0] * TechIndicator[stock].shape[0]
        TechIndicator[stock]['Aroon_Oscillator'] = aroon_list
    else:
        TechIndicator[stock]['Aroon_Oscillator'] = listofzeros+aroon_list

* Price Volume Trend 계산  
PVT = [((CurrentClose - PreviousClose) / PreviousClose) x Volume] + PreviousPVT

In [18]:
for stock in range(len(TechIndicator)):
    TechIndicator[stock]["PVT"] = (TechIndicator[stock]['Momentum_1D']/ TechIndicator[stock]['Close'].shift(1))*TechIndicator[stock]['Volume']
    TechIndicator[stock]["PVT"] = TechIndicator[stock]["PVT"]-TechIndicator[stock]["PVT"].shift(1)
    TechIndicator[stock]["PVT"] = TechIndicator[stock]["PVT"].fillna(0)
TechIndicator[0].tail()

           Date    Open    High  ...  BB_Lower_Band  Aroon_Oscillator         PVT
2125 2017-11-06  17.140  17.140  ...         16.992             -48.0  -98.696519
2126 2017-11-07  17.299  17.299  ...         16.967             -52.0  137.862200
2127 2017-11-08  17.076  17.170  ...         16.950             -52.0  -58.465460
2128 2017-11-09  17.190  17.220  ...         16.930             -52.0   -7.108504
2129 2017-11-10  17.100  17.100  ...         16.895             -52.0 -196.058309

[5 rows x 16 columns]

* Acceleration Bands 계산

In [19]:
def abands(df):
    #df['AB_Middle_Band'] = pd.rolling_mean(df['Close'], 20)
    df['AB_Middle_Band'] = df['Close'].rolling(window = 20, center=False).mean()
    # High * ( 1 + 4 * (High - Low) / (High + Low))
    df['aupband'] = df['High'] * (1 + 4 * (df['High']-df['Low'])/(df['High']+df['Low']))
    df['AB_Upper_Band'] = df['aupband'].rolling(window=20, center=False).mean()
    # Low *(1 - 4 * (High - Low)/ (High + Low))
    df['adownband'] = df['Low'] * (1 - 4 * (df['High']-df['Low'])/(df['High']+df['Low']))
    df['AB_Lower_Band'] = df['adownband'].rolling(window=20, center=False).mean()

In [20]:
for stock in range(len(TechIndicator)):
    abands(TechIndicator[stock])
    TechIndicator[stock] = TechIndicator[stock].fillna(0)
TechIndicator[0].tail()

           Date    Open    High  ...  AB_Upper_Band  adownband  AB_Lower_Band
2125 2017-11-06  17.140  17.140  ...      18.044471  16.097221      16.794821
2126 2017-11-07  17.299  17.299  ...      18.037880  16.407213      16.770980
2127 2017-11-08  17.076  17.170  ...      17.996683  16.888516      16.776033
2128 2017-11-09  17.190  17.220  ...      17.928160  16.920582      16.802260
2129 2017-11-10  17.100  17.100  ...      17.909721  16.651322      16.756321

[5 rows x 21 columns]

> 기타 다른 지표에 대해서는 링크에서 직접 참조